grant codeBase "file:/" {
	permission java.io.FilePermission "/secureFile", "read, write";
	permission java.net.SocketPermission "localhost:3000", "listen";
}